.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
}

.label {
  font-size: 10px;
  padding-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #227C9D;
}

.input {
  box-sizing: border-box;
  height: 45px;
  line-height: 45px;
  font-size: 1.3rem;
  padding-left: 1rem;
  border-radius: 1px;
  outline: none;
  border: none;
  border-bottom: 1px solid #227C9D;
  margin: .5rem 0 1.5rem 0;
  transition: all .2s ease-in;
}

.input:focus {
  border: 2px solid #227C9D;
  
}

.input:focus::placeholder {
  opacity: 0;
}

.input::placeholder {
  font-size: .6em;
  font-weight: 100;
  color: #227C9D;
  transition: all .5s ease;
}