.root {
  border: 1px solid red;
  width: 100%;
  max-width: 650px;
  margin: 2rem auto;
  height: 380px;
}

.header {
  border: 1px solid yellowgreen;
  height: 40px;
}

.body {
  background-color: tomato;
  height: 300px;
}

.footer {
  border: 1px solid yellowgreen;
  height: 40px;
}