.img {
  width: 100%;
  max-width: 500px;
  height: 250px;
  z-index: 1;
}

.info {
  width: 100%;
  max-width: 400px;
  border: 1px solid red;
  text-align: center;
  margin: -100px auto;
  z-index: 2;
  background-color: red;
  color: white;
  margin-bottom: 3rem;
}

.root {
  margin: 4rem 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all .2s ease-in;
}

.root:hover .line {
  width: 300px;
}

@media screen and (max-width: 500px) {
  .root:hover .line {
    width: 150px;
  }
}

.line {
  width: 30px;
  border-bottom: 1px solid #3C91E6;
  margin: 2rem auto 0 auto;
  transition: all .4s ease-in;
}