.root {
  margin: 4rem 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all .2s ease-in;
}

.root:hover .line {
  width: 300px;
}

.line {
  width: 30px;
  border-bottom: 1px solid #3C91E6;
  margin: 2rem auto 0 auto;
  transition: all .4s ease-in;
}