.root {
  margin: 1rem;
}

.btn {
  float: right;
  font-family: inherit;
  margin-top: 1rem;
  transform: translateY(39px);
  border: 1px solid rgba(233, 233, 233, .3);
  background-color:  rgba(233, 233, 233, .7);
  outline: none;
  height: 40px;
  padding: 0 5px;
  width: 150px;
  cursor: pointer;
  transition: all .5s ease;
  color: #2c1f04;
  letter-spacing: 1px;
  text-align: start;
}

@media screen and (max-width: 920px) {
  .btn {
    transform: translateY(70px);
    height: 30px;
  }
}

.input {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  margin: .5rem 0 5rem 0;
  outline: none;
  transition: all .4s ease;
  border-radius: 1px;
}

.green .input:focus {
  border-bottom-color: #53917E;
}

.red .input:focus {
  border-bottom-color: #922e44;
}

.input:not(:focus) {
  border-bottom-color: #65B0FA;
}