.root {
  background-color: #0D0630;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d8d5d5;
  padding: 0 5vw;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 18px;
  line-height: 50px;
}