.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 70%;
  height: 250px;
}

@media screen and (max-width: 650px) {
  .img {
    width: 90%;
  }
}

.msg {
  margin-top: 2rem;
}