.btn {
  outline: none;
  border: none;
  border-radius: 15px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: translateX(1px);
  opacity: .9;  
}

.btn:active {
  transform: translateX(-2px);
}

.small {
  height: 25px;
  line-height: 25px;
  width: 80px;
  font-size: 12px;
}

.medium {
  height: 30px;
  line-height: 30px;
  width: 150px;
  font-size: 18px;
}

.large {
  height: 38px;
  line-height: 10px;
  width: 170px;
  font-size: 18px;
  border-radius: 20px;
}

.round {
  height: 38px;
  width: 38px;
  line-height: 38px;
  border-radius: 100px;
}

.primary {
  background-color: #65b0fa;
  color: #0D0630;
}

.secondary {
  background-color: #227C9D;
  color: #FEFCFB;
}

.alert {
  background-color: #EF8F57;
  color: black;
}

.danger {
  background-color: #DA4167;
  color: #FEFCFB;
}