.height {
  height: 400px;
}

@media screen and (max-width: 720px) {
  .height {
    height: 300px;
  }
}

@media screen and (max-width: 550px) {
  .height {
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .height {
    height: 150px;
  }
}